.button {
    margin-left: 10px;
    width: 70px;
    padding: 8px;
    font-variant: small-caps;
    background-color: orange;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;

}

.button:hover,
.button:focus {
    filter: drop-shadow(0px 5px 8px rgba(255, 162, 0, 0.486));
}

.button:first-child {
    margin-left: 0px;
}